<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RW05 BGM PIK</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Aplikasi ini memerlukan akses ke kamera Anda untuk berbagai fitur, termasuk:
- Mengambil atau memperbarui foto profil Anda.
- Mengambil gambar untuk mengunggah bukti transfer IPL.
- Membuat laporan komplain lingkungan dengan mengambil foto bukti.
- Mengambil gambar  untuk berbagi di fitur media sosial kami.
Kami tidak akan mengakses kamera anda tanpa izin Anda.</string>
	<key>NSLocationUsageDescription</key>
	<string>Perangkat lama membutuhkan lokasi</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Aplikasi ini memerlukan akses lokasi Anda saat digunakan untuk melaporkan masalah lingkungan. Ini akan membantu kami menentukan lokasi pasti masalah yang Anda laporkan.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Aplikasi membutuhkan ijin mikrofon</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Aplikasi ini memerlukan akses ke galeri Anda untuk berbagai fitur, termasuk:
- Memperbarui foto profil Anda.
- Memilih gambar dari galeri untuk mengunggah bukti transfer IPL
- Memilih gambar  untuk berbagi di fitur media sosial kami.
Kami tidak akan mengakses galeri anda tanpa izin Anda.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_previce</key>
	<true/>
</dict>
</plist>
